<div class="pokemon-list">

    <!--Loops through all the pokemons fetched and creates a card for each one of them, abilities included-->
    <mat-card class="animate__animated animate__zoomIn" style="padding-bottom: 0px" *ngFor="let pokemon of pokemons">
        <mat-card-header>
            <mat-card-title>{{pokemon.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{pokemon.img}} alt="Photo of a pokemon">
        <app-catch-pokemon-button style="margin-bottom: 8px;" class="center-button" [pokemonId]='pokemon.id'></app-catch-pokemon-button>

        <!--Abilities button that shows when abilities exist, when clicked it shows the names of the abilities-->
        <div class="center-button" style="margin-bottom: 8px;">
            <button class="center-button" *ngIf="abilitiesExists(pokemon.id)" mat-button
                (click)="onLoadClick(pokemon.id)">Load abilities</button>
        </div>
        <div class="center-text">
            <p *ngFor="let ability of pokemon.abilities">
                {{ability.name}}
                <mat-divider></mat-divider>
            </p>
        </div>
    </mat-card>
</div>

<div *ngIf="canLoadMore" class="load-more-container">
    <button mat-raised-button class="load-button" (click)="onLoadMoreClick()">Load more</button>
</div>
