.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 3%;
}

mat-card {
    width: 10%;
    margin: 0.5%;
    justify-content: center;
}

img {
    margin-bottom: 0px;
    margin-top: 0px;
}

.center-button {
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
}

.mat-card-header {
    justify-content: center;
}

.center-text {
    justify-content: center;
    text-align: center;
}

.load-more-container {
    display: flex;
    justify-content:center;
    padding-bottom: 10px;
    margin-top: 0px;
}

.load-button {
    display: flex;
    width: 15% !important;
    justify-content: center;
    height: 5%;
    margin-bottom: 2%;
}