.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--third);
    color: white;
    text-align: center;
}

.text {
    margin-top: 5px;
    color: #FFFF;
}