<footer class="footer gradient-primary">
    <span class="text">Contributors:
        <a class="text" href="https://gitlab.com/OliverDahlqvist" to="route" target="_blank"
            rel="noopener noreferrer">@Oliver</a>
        &
        <a class="text" href="https://gitlab.com/AdrianMattsson" to="route" target="_blank"
            rel="noopener noreferrer">@Adrian</a>
    </span>
</footer>