<ng-container *ngIf="getCaught; then caught else notCaught"></ng-container>
<ng-template #caught><button class="caught" mat-button (click)="onCatchClick()">RELEASE</button></ng-template>
<ng-template #notCaught><button class="not-caught" mat-raised-button (click)="onCatchClick()">CATCH</button></ng-template>