<!-- Shows the trainer profile and the list of pokemon that the trainer has collected -->
<app-trainer-profile></app-trainer-profile>
<app-pokemon-list [canLoadMore]="false" [pokemons]="trainer.pokemon"></app-pokemon-list>