<div class="center-content">
    <app-card>
        <div class="center-text">
            <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
                <mat-form-field>
                    <mat-label>Please enter your name</mat-label>
                    <input 
                    ngModel
                    #username="ngModel" 
                    name="username"
                    id="username"
                    minlength="3"
                    required
                    matInput>
                    <mat-error *ngIf="username.errors?.['minlength']">
                        Name must be at least 3 characters long.
                   </mat-error> 
                   <mat-error *ngIf="username.errors?.['required']">
                    Please input at least 3 characters.
                    </mat-error> 
                </mat-form-field>
                <div>
                    <button type="submit" class="button-color" style="margin-bottom: 1em"
                        mat-raised-button>Login</button>
                </div>
            </form>
            <mat-card-footer>
                <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
        </div>
    </app-card>
</div>