<app-card class="center-content">
    <mat-card-subtitle>Welcome {{username}}!</mat-card-subtitle>
    <mat-card-content>You have caught {{trainer.pokemon.length}} pokemon.</mat-card-content>
</app-card>