<mat-card class='header gradient-primary'>
    <h1>Pokemon catalogue</h1>
    <div>
        <a *ngIf="!trainerExists" mat-button routerLink="/trainer">Profile</a>
        <a *ngIf="!trainerExists" mat-button routerLink="/catalogue">Catalogue</a>
        <a *ngIf="!trainerExists" mat-button (click)="storageClear()">Sign out</a>
    </div>
</mat-card>