@import url("https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&family=Josefin+Sans:wght@700&display=swap");

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;

    /* fallback for old browsers */
    background: #e3b931;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(227, 185, 49, 1), rgba(215, 70, 29, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(227, 185, 49, 1), rgba(215, 70, 29, 1))
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin-bottom: 0%;
}

mat-card {
    border-radius: 0px;
    margin-bottom: 0%;
    padding-bottom: 0%;
    display: flex;
    justify-content: space-between;
}

div {
    justify-content: center;
    display: flex;
    margin-left: 1em;
}

a {
    color: white;
    margin-bottom: 1%;
}