@import '~animate.css/animate.min';

/* _____________________ Global colors _____________________ */
:root {
  --primary: #E3170A;
  --secondary: #F7B32B;
  --third: #4A6C6F;
  --fourth: #2D1E2F;
  background-color: #4A6C6F;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center-content {
  display: flex;
  justify-content: center;
}

.center-text {
  text-align: center;
}

.gradient-primary {
  /* fallback for old browsers */
  background: #e3b931;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(227, 185, 49, 1), rgba(215, 70, 29, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(227, 185, 49, 1), rgba(215, 70, 29, 1));
}

.gradient-button {
  background: #667eea;
  background: -webkit-linear-gradient(to right, rgba(102, 126, 234, 0.5), rgba(118, 75, 162, 0.5));
  background: linear-gradient(to right, rgba(102, 126, 234, 0.5), rgba(118, 75, 162, 0.5));
  color: white;
}

.gradient-button:hover {
  background: #344cb8;
  background: -webkit-linear-gradient(to right, rgba(52, 76, 184, 0.5), rgba(68, 35, 112, 0.5));
  background: linear-gradient(to right, rgba(52, 76, 184, 0.5), rgba(68, 35, 112, 0.5));
  color: white;
}

.gradient-button:focus {
  background: #344cb8;
  background: -webkit-linear-gradient(to right, rgba(52, 76, 184, 0.5), rgba(68, 35, 112, 0.5));
  background: linear-gradient(to right, rgba(52, 76, 184, 0.5), rgba(68, 35, 112, 0.5));
  color: white;
}

.gradient-button:disabled {
  background: #7a4d80;
  background: -webkit-linear-gradient(to left, rgba(122, 77, 128, 0.6), rgba(127, 46, 57, 0.6));
  background: linear-gradient(to left, rgba(122, 77, 128, 0.6), rgba(127, 46, 57, 0.6));
  color: white;
}

.button-color {
  background-color: var(--secondary);
}