<main class="container mx-auto p-4"></main>

<!--Displays this message when the pokemons are not yet loaded-->
<p *ngIf="loading">Loading pokemons</p>

<app-pokemon-list [canLoadMore]="true" [pokemons]="pokemons"></app-pokemon-list>